* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', Arial, sans-serif;
  }

  .wrapper {
      display: flex;
  }

  .navbar {
      height: 100vh;
      background-color: white;
    }

  .navbar header {
      font-size: 1.8rem;
      padding-top: 0.5em;
      padding-bottom: 0.7em;
      border-bottom: 1px solid gray;
      border-right: 4px solid gray;
      width: 304px;
      text-align: center;
    }

    .navbar ul {
        height: 88%;
        overflow-y: auto;
        cursor: pointer;
    }

    .navbar li {
        display: block;
        width: 304px;
        font-size: 1rem;
        border: 0.01px solid gray;
        border-width: thin;
        border-right: 4px solid gray;
        padding-left: 1.7em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }

    /*-----------MAIN CONTENT-----------*/
    
    .Main-content {
        height: 100vh;
        overflow-y: auto;
    }

    .Main-content h1 {
        font-size: 1.8rem;
        font-weight: 300;
    }

    /*-----------INTRODUCTION-----------*/

    .introduction {
        margin-top: 1.8em;
        margin-left: 2em;
    }

    .subtitle-1 {
        font-size: 0.97rem;
        margin-left: 1.2em;
        margin-right: 1.2em;
        line-height: 1.4;
        margin-top: 1em;
    }
    .subtitle-2 {
        font-size: 0.97rem;
        margin-left: 1.2em;
        margin-right: 1.2em;
        line-height: 1.4;
        margin-top: 1em;
    }

    .small-list {
        margin-top: 1.5em;
        margin-left: 4em;
        margin-right: 2em;
        line-height: 1.4;
    }

    .small-list li{
        list-style: disc;
    }

    .second-list {
        margin-top: 1em;
    }

    /*-----------What you should already know-----------*/

    .WhatYouShouldAlreadyKnow {
        margin-top: 1.8em;
        margin-left: 2em;
    }

    .WhatYouShouldAlreadyKnow p {
        margin-left: 1em;
        margin-top: 1.5em;
    }

    .WhatYouShouldAlreadyKnow ul {
        margin-left: 4.5em;
    }

    .WhatYouShouldAlreadyKnow ul li {
        margin-top: 1em;
        list-style: disc;
        line-height: 1.5;
        margin-right: 1.5em;
    }

    /*-----------Javascript and Java-----------*/
    
    .JavaScriptAndJava {
        margin-top: 1.6em;
        margin-left: 2em;
    }

    .paragraph1 {
        margin-top: 1.2em;
        margin-left: 1.2em;
        line-height: 1.5;
        margin-right: 1.5em;
    }

    .paragraph2 {
        margin-top: 1.1em;
        margin-left: 1.2em;
        line-height: 1.4;
        margin-right: 1em;
    }

    .paragraph3 {
        margin-top: 1.2em;
        margin-left: 1.2em;
        line-height: 1.4;
        margin-right: 1em;
    }

    /*----------Hello World---------------*/
    .HelloWorld {
        margin-top: 1.6em;
        margin-left: 2em;
    }

    .HelloWorld p {
        margin-left: 1em;
        margin-top: 1em;
        margin-right: 1.5em;
        font-size: 0.98rem;
    }

    .background {
        background-color: whitesmoke;
        height: 80px;
        margin-right: 3em;
        border-radius: 5px;
        margin-top: 1em;
        margin-left: 1.5em;
        text-align: left;
    }

    .background p {
        font-size: 0.9rem;
        line-height: 1.8;
        padding-top: 1em;
    }

    /*---------Variables------------*/

    .Variables {
        margin-top: 1.6em;
        margin-left: 2em;
    }

    .Variables p {
        margin-top: 1.4em;
        line-height: 1.4;
        margin-right: 1em;
    }

     /*---------Declaring Variables------------*/
     .declaringVariables {
        margin-top: 1.6em;
        margin-left: 2em;
     }

     .declaringVariables p{
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        font-size: 0.95rem;
        padding-right: 20px;
     }

     .background2 {
        background-color: whitesmoke;
        height: 60px;
        margin-right: 2.5em;
        border-radius: 5px;
        margin-top: 1em;
        margin-left: 1.5em;
        text-align: left;
     }

     .background2 p {
         font-size: 0.85rem; 
         padding-top: 1.4em;
         line-height: 1.4;
     }

      /*---------Variable Scope------------*/

      .VariableScope {
        margin-top: 1.6em;
        margin-left: 2em;
      }

      .VariableScope p {
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 1.5em;
        line-height: 1.2;
      }

      .background3 {
        background-color: whitesmoke;
        height: 70px;
        margin-right: 2.5em;
        border-radius: 5px;
        margin-top: 1em;
        margin-left: 1.5em;
        text-align: left;
        margin-bottom: 1em;
      }

      .background3 p {
          padding-top: 10px;
          font-size: 0.85rem;
          line-height: 1.5;
      }

      /*---------Global Variables------------*/

      /*---------CONSTANTS------------*/

      .background4 {
        background-color: whitesmoke;
        height: 100px;
        margin-right: 2.5em;
        border-radius: 5px;
        margin-top: 1em;
        margin-left: 1.5em;
        text-align: left;
        margin-bottom: 1em;
      }

      .background4 p{
        margin-top: 2em;
        font-size: 0.85rem;
      }
     
      