* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', Arial, sans-serif;
  }

  .sidebar {
      position: fixed;
      height: 100%;
  }

  .header {
      background-color: #ffffff;
      width: 300px;
      height: 67px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      font-weight: 100;
      border-right: 1px gray solid;
      border-bottom: 1px gray solid;
  }

  .sidebar ul {
      
  }

  .sidebar li {
      width: 300px;
      padding-left: 30px;
      padding-top: 8px;
      padding-bottom: 7px;
      line-height: 1.8;
      border: 1px solid gray;
      border-left: none;
      
  }


